<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

   <style>

    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #faeee7;
      display: flex;
      justify-content: center;
    }

    .banner-image {
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 32px;
    }

    .thumbnail {
      width: 48px;
      height: 48px;
    }

    .name {
      color: #33272a;
      display: flex;
      justify-content: center;
    }

    .banner {
      display: flex;
      justify-content: center;
    }

    .social-icons{
      display: flex;
      justify-content: space-around;
    }

    .social-icons a {
      color: #33272a;
      text-decoration: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 640px;
      flex-grow: 1;
    }


    .link {
      background-color: #ff8ba7;
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .link a {
      color: #33272a;
      text-align: center;
      text-decoration: none;
      flex-grow: 1;
    }

  </style>

  <body>
    <%= yield %>
  </body>
</html>
