<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

   <style>

    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #faeee7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .thumbnail {
      width: 48px;
      height: 48px;
    }

    .name {
      color: #33272a;
      display: flex;
      justify-content: center;
    }

  </style>

  <body>
    <%= yield %>
  </body>
</html>
