<h1>Quick PokéSearch Results</h1>

<p>Here's what {search_results_name} looks like:</p>

<!--Make sure the sprite goes here-->

Try looking at one of the websites linked below for more information:


<%= official_web_address %>

<%= bulba_web_address %>

<%= serebii_web_address %>
