<h1>Quick PokéSearch</h1>

<% if session.fetch(:bad_string) == true %>
  <p>That's not a valid name. Please check your spelling or use one of these popular examples:<br>
  Squirtle<br>
  Charmander<br>
  Bulbasaur<br>
  Ditto<br>
  Pikachu<br>
<% end %>

<% if session.fetch(:bad_integer) == true %>
  <p>That's not a valid number. Please use a whole number between 1 and 1,025.
<% end %>

<form action="/search_two">
  <label for="name_form">Search by Name</label>
  <input id="name_form" type="text" name="search_name" placeholder="Enter a Pokémon Name">
  <button>Find your Pokémon</button>
</form>

<form action="/search_two">
  <label for="id_form">Search by National Dex Number</label>
  <input id="id_form" type="text" name="search_id" placeholder="1—1025">
  <button>Find your Pokémon</button>
</form>

<% session.store(:bad_string, false) %>
<% session.store(:bad_integer, false) %>
