<h1>Quick PokéSearch Results</h1>

<p>Here's what <%= session.fetch(:display_name)%> looks like:</p>

<!--Make sure the sprite goes here-->

Try looking at one of the websites linked below for more information:


<a href=<%= @official_web_address %>>Official Pokémon Website </a>

<a href=<%= @bulba_web_address %>>Bulbapedia</a>

<a href=<%= @serebii_web_address %>>Serebii.net</a>
